<!DOCTYPE html>
<html>
<head>
	<title>{{ article.article_title }}</title>
</head>
<body>

<div>
	<strong>文章标题：</strong><br/>
	<pre><h2>{{ article.article_title }}</h2>日期：{{ article.article_date }}</pre><br/>
	<strong>文章内容：</strong><br/>
	{{ article.article_content }}
</div>
<br/><br/><br/><br/>
<ul>
	<li><a href="{% url 'blogs:article_edit' article.id %}">编辑</a></li>
	<li><a href="{% url 'blogs:article_edit' 0 %}">写博客</a></li>
</ul>
<br/><br/>
{% if comments %}
<ul>
	{% for comment in comments %}
	<li>匿名评论：{{ comment.comment_content }}</li>
	{% endfor %}
</ul>
{% endif %}
<form action="{% url 'blogs:comment_manage' article.id %}" method="post">
	{% csrf_token %}
	<label>我想新增评论：</label>
	<input type="text" name="comment_content">
	<input type="submit" name="添加评论">
</form>
</body>
</html>