<!DOCTYPE html>
<html>
<head>
	<title>???</title>
</head>
<body>

<div>
	<form action="{% url 'blogs:article_edit_action' %}" method="POST">
		{% csrf_token %}
		{% if article %}

		<input type="hidden" name="id_hidden" value="{{ article.id }}">
		<strong>编辑文章标题：</strong><br/>
		<input type="text" name="article_title" value="{{ article.article_title }}"><br/>
		<strong>编辑文章内容：</strong><br/>
		<input type="text" name="article_content" value="{{ article.article_content }}"><br/>
		<input type="submit" value="提交修改">

		{% else %}

		<input type="hidden" name="id_hidden" value="0">
		<strong>新建文章标题：</strong><br/>
		<input type="text" name="article_title"><br/>
		<strong>新建文章内容：</strong><br/>
		<input type="text" name="article_content"><br/>
		<input type="submit" value="创建">

		{% endif %}
	</form>	
</div>

</body>
</html>