<!DOCTYPE html>
<html>
<head>
	<title>Blogs-Home-Page</title>
</head>
<body>
<strong>
	我的博客列表：<br/>
</strong>
<ul>
	{% for article in articles %}
	<li>
		<a href="{% url 'blogs:article' article.id %}">{{ article.article_title }}</a>
	</li>
	{% endfor %}
</ul>
<br/><br/><br/><br/>
<strong>
	所有评论列表：<br/>
</strong>
<ul>
	{% for comment in comments %}
	<li>
		<a href="{% url 'blogs:article' comment.article.id %}">{{ comment.comment_content }}</a>
	</li>
	{% endfor %}
</ul>
<br/><br/><br/><br/>
<a href="{% url 'blogs:article_edit' 0 %}">写博客</a>
<a href="{% url 'blogs:article_manage' %}">管理博客</a>
</body>
</html>