<!DOCTYPE html>
<html>
<head>
	<title>question describe</title>
</head>
<body>
<h2>hello, this is a question content web</h2><br/>
Here will show you all problems<br/>

<ul>
	{% for data in question %}
	<li>
		<ul>
			<li>{{ data.question_title }}</li>
			<li>--{{ data.question_content }}</li>
		</ul>
	</li>
	{% endfor %}
</ul>

<div>
	there are some other server for you<br/>
	<ul>
		<li><a href="{% url 'polls:index' %}">index web</a></li>
		<li><a href="{% url 'polls:result' %}">vote result</a></li>
		<li><a href="{% url 'polls:vote' %}">i want to vote it</a></li>
	</ul>
</div>

</body>
</html>